[mysqld]
general_log	= on
general_log_file	= /var/lib/mysql/general.log

slow_query_log	= on
slow_query_log_file	= /var/lib/mysql/slow.log
log_queries_not_using_indexes = on
log_slow_admin_statements = on
